body { margin:0; padding:0; font-family: "Open Sans", Arial, sans-serif; font-size: calc(12px + 0.5vmin); color: white; background-color:rgba(58,68,84,1); }
h2 { width:100%; font-size: 1.5em; }
a { color:#fff; }
a:hover { text-decoration: none; }
.split { width: 100%; position: fixed; z-index: 1; left: 0; overflow: hidden; }
.top { top: 0; height: 10%; }
.bottom { top: 10%; height:90%; }
.centered { width:75%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }
.location { font-weight:normal; font-size: 0.8em; opacity:0.6; margin-left:1em; transition: 0.2s; }
.location:hover { opacity:1; }
.button { font-size: 1em; font-weight:bold; padding:0.5em; text-align: center; background-color:rgba(255,255,255,0.25); opacity:0.6; transition: 0.2s; cursor:default; position: fixed; right:0; top: 0; z-index:999; }
.button:hover { opacity:1; }
.about { background-color: rgba(58,68,84,0.8); width:33vw; padding: 1em; z-index:999; box-shadow: 0 0 2em rgba(0, 0, 0, .6); transition: 0.2s; }
select { -moz-appearance: none; -webkit-appearance: none; appearance: none; border:1px solid rgba(58,68,84,1); border-bottom-color: #fff; padding:0.1em; color:#fff; background-color:rgba(58,68,84,1); font-size:inherit; }
select:hover { border-color: #fff; }
iframe { border:0; width:100%; height:100%; overflow:hidden; }

@media screen and (max-width:480px){
  .top { top: 0; height: 20%; }
  .bottom { top: 20%; height:80%; }
  .about {width:66vw;}
}
